name: EarlyBaze Deployment

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install SSH Key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SERVER_PRIVATE_KEY }}

      - name: Add VPS Host to Known Hosts
        run: |
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to server
        run: |
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << 'EOF'
            cd ${{ secrets.SERVER_PATH }}

            git fetch --all
            git reset --hard origin/main

            composer install --no-interaction --prefer-dist --optimize-autoloader

            php artisan config:clear
            php artisan cache:clear
            php artisan view:clear
            php artisan route:clear

            php artisan migrate --force

            sudo chown -R www-data:www-data storage bootstrap/cache
            sudo chmod -R 775 storage bootstrap/cache

            sudo systemctl restart php8.1-fpm

            echo "Deployment Successful!"
          EOF
